.smurfs-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.smurf-box {
  border: 1rem solid #40BCE7;
  border-radius: 5px;
  margin: 1rem auto;
  padding: 1rem;
  max-width: 45%;
  background: white;
}

form {
  background: #40BCE7;
}